@import "tailwindcss";
.input {
  @apply border border-gray-300 px-3 py-2 rounded w-full outline-none focus:ring-2 focus:ring-blue-500 bg-white;
}

.btn {
  @apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700;
}
